<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <meta charset="UTF-8">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <button onclick=modifyAll(false)>Update</button>
    <table class="table">
        <select th:onchange="'window.location.href = \'' + @{/} + '?entityClass=\' + this.value ' ">
            <option th:each="entityName : ${listEntitiesName}" th:text="${entityName}" th:attr="selected=${ entityClassModel == entityName ? 'selected':'false'}"></option>
        </select>

        <thead>
            <tr>
                <th>Number</th>
                <th th:each="entityVariable : ${listEntitiesVariable}" value="${entityVariable}" th:text="${entityVariable}" scope="col"></th>
                <th>Button</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="entityRecord,iterStat  : ${listEntitiesRecord.get(listEntitiesVariable.get(0))}">
                <td> <input type="checkbox" class="foo" th:value="${iterStat.index}"></td>
                <td th:attr="contenteditable=${iterStat2.index>= keySize ? 'true' : 'false'}" th:id="${iterStat.index} + ${entityVariable}  " th:each="entityVariable,iterStat2 : ${listEntitiesVariable}" th:text="${listEntitiesRecord.get(entityVariable).get(iterStat.index)}" type="text"></td>
                <td> <button th:onclick="|Update( ${iterStat.index}, false)|">Update</button></td>

            </tr>
        </tbody>
    </table>
</body>
<script th:inline="javascript">
    function Update(id, isUpdate) {
        /*<![CDATA[*/
        let params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
        });
        let value = params.entityClass; // "some_value"
        let url2 = "/updateEntity?entityClass=" + value;
        let map1 = new Map([
            /*[# th:each="entityVariable,iterStat : ${listEntitiesVariable}"]*/
            [ /*[[${entityVariable}]]*/, /*[[${listEntitiesRecord.get(entityVariable).get(iterStat.index)}]]*/+""],
            /*[/]*/
        ]);
        if (!isUpdate) {
            let keySize = /*[[${keySize}]]*/+"";
            if (keySize == 1) {
                value = "java.lang.Object"
            } else {
                value = "code.webdkmh.dao.entities." + params.entityClass + "Id"
            }
            let i = 0;
            map1.forEach((value, key) => {
                if (i >= keySize) {
                    map1.delete(key)
                }
                i++
            })
            url2 = "/deleteEntity?entityClass=" + value + "&entityParent=" + params.entityClass;
        }
        let finalJson = Object.fromEntries(map1);

        $.ajax({
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            url: url2,
            data: JSON.stringify(finalJson),
            success: function (finalJson) {
                alert("ok")
            }
        });
        /*]]>*/
    }
    function modifyAll(isUpdate) {
        /*<![CDATA[*/
        const data = [...document.querySelectorAll('.foo:checked')].map(e => e.value);
        let listOfObjects = [];
        let params = new Proxy(new URLSearchParams(window.location.search), {
            get: (searchParams, prop) => searchParams.get(prop),
        });
        let keySize = /*[[${keySize}]]*/+"";
        let value = params.entityClass; // "some_value"
        let url2 = "/updateEntityList?entityClass=" + value;
        for (let index = 0; index < data.length; index++) {
            const currentIndex = data[index];
            let map1 = new Map([
                /*[# th:each="entityVariable,iterStat : ${listEntitiesVariable}"]*/
                [ /*[[${entityVariable}]]*/, "" +/*[[${listEntitiesRecord.get(entityVariable).get(iterStat.index)}]]*/ +""],
                /*[/]*/
            ]);
            if (!isUpdate) {
                let i = 0;
                map1.forEach((value, key) => {
                    if (i >= keySize) {
                        map1.delete(key)
                    }
                    i++
                })
            }
            listOfObjects.push(Object.fromEntries(map1));
        }
        if (!isUpdate) {
            if (keySize == 1) {
                value = "java.lang.String"
            } else {
                value = "code.webdkmh.dao.entities." + params.entityClass + "Id"
            }
            url2 = "/deleteEntityList?entityClass=" + value + "&entityParent=" + params.entityClass;
        }
        console.log(listOfObjects)
        $.ajax({
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            url: url2,
            data: JSON.stringify(listOfObjects),
            success: function (result) {
                alert("ok")
            }
        });
        /*]]>*/
    }

</script>

</html>